
.main_div{
  background-color: rgb(18, 51, 66);
  padding:10%;


}
input {
  background-color: rgb(237, 245, 245);
  margin-right: 10px;
  width: 20%;
  height: 30px;

}
.center_div{
  background-color: rgb(216, 226, 230);
  height: 100%;
  margin: 100px;

}
.textC{
  color: #1a0764;
  background-color: #a06fff;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.todo_style{
  display: flex;
 

}

.todo_style .fa-trash{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  border-radius: 50%;
  margin: 0 15px 0 15px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px ;
}
.todo_style .fa-trash:hover{
  background-color: brown;
}
.todo_style .fa-edit{
  width: 20px;
 
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  border-radius: 50%;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px ;
}
.todo_style .fa-edit:hover{
  background-color: brown;
}
.fa-plus {
  content: "\f067";
  background-color: #a378cb;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 7px;
  padding-top: 11px;
}
.fa-plus:hover {
  background-color: brown;
}